body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

div {
  margin-top: 20px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
}

input {
  padding: 20px;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 20px;
  outline: none;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  border-radius: 10px;
  padding: 22px;
  font-size: 18px;
  transition: 2s all ease-in-out;
}

#result {
  font-size: 30px;
  width: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 2px 2px;
}
